* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  margin: 0;
}

.page__header {
  color: #e6edd0;
  font-family: Helvetica, sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
  text-align: center;
  text-shadow: black 4px 4px 0px;
  -webkit-text-stroke: 4px black;
}

.border__one,
.border__two,
#root {
  border: 1rem solid #e46434;
  display: flex;
  margin: auto;
}

.border__one {
  box-shadow: 5px 5px;
  height: 600px;
  width: 600px;
}

.border__two {
  height: 550px;
  width: 550px;
}

#root {
  height: 498px;
  max-width: 497px;
}

.canvas {
  height: 466px;
  position: absolute;
}

.canvas_display_none,
.stream_display_none {
  display: none;
}
