* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.page__section {
  display: none;
  font-family: "Source Sans Pro", sans-serif;
  margin: auto;
}

.page_section_support {
  max-width: fit-content;
  width: calc(100% - 40px);
}

.page__header {
  color: #e6edd0;
  font-family: Helvetica, sans-serif;
  font-size: 5rem;
  margin: 0 0 1rem;
  text-shadow: black 4px 4px 0;
  -webkit-text-stroke: 4px black;
}

.page__description {
  margin: 0 0 25px;
  text-align: center;
}

.border__one,
.border__two,
#root {
  border: 1rem solid #e46434;
  display: flex;
  margin: auto;
}

.border__one {
  box-shadow: 5px 5px;
  height: calc(100% - 140px);
  width: calc(100% - 140px);
}

.border__two {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}

#root {
  cursor: pointer;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}

.canvas {
  height: 471px;
  position: absolute;
  width: 470px;
}

#stream {
  object-fit: fill;
  width: 100%;
}

.canvas_display_none,
.stream_display_none {
  display: none;
}
